<div class="site-header" id="siteHeader">
  <div class="header-background">
    <img src="assets/header.jpeg" alt="Header Background" class="" id="parallaxImage">
  </div>
  <div class="header-overlay"></div>
  <div class="header-logo" id="headerLogo">
    <img src="assets/inverse-logo.png" alt="Logo">
  </div>
  <div class="header-nav" id="headerNav">
    <div class="nav-container">
      <ul class="main-nav" id="mainNav">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Accueil</a></li>
        <li><a routerLink="/team" routerLinkActive="active" class="nav-link">L'Équipe</a></li>
        <li><a routerLink="/projects" routerLinkActive="active" class="nav-link">Projets</a></li>
        <li><a routerLink="/join" routerLinkActive="active" class="nav-link">Joindre L'Équipe</a></li>
        <li><a routerLink="/sponsors" routerLinkActive="active" class="nav-link">Commanditaires</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active" class="nav-link">Gallerie</a></li>
      </ul>
    </div>
  </div>
</div>
