<header class="site-header">
  <div class="header-background">
      <img src="assets/header.png">
      <img src="assets/inverse-logo.png" class="header-logo">
  </div>
  <div class="header-container">
    <nav class="main-nav">
      <a routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         class="nav-link">Accueil</a>
      <a routerLink="/team"
         routerLinkActive="active"
         class="nav-link">L'Équipe</a>
      <a routerLink="/projects"
         routerLinkActive="active"
         class="nav-link">Projets</a>
      <a routerLink="/join"
         routerLinkActive="active"
         class="nav-link">Joindre L'Équipe</a>
      <a routerLink="/sponsors"
         routerLinkActive="active"
         class="nav-link">Commanditaires</a>
      <a routerLink="/gallery"
         routerLinkActive="active"
         class="nav-link">Gallerie</a>
    </nav>
  </div>
</header>
