<div class="zenith-header">
  <div class="header-text">
    <h1>Zénith</h1>
    <h2>Société technique spécialisée en drones et aéronefs à Polytechnique Montréal</h2>
    <p>Fondée en 2024</p>
  </div>

  <div class="logo-grid">
    <img src="assets/main1.png" alt="Logo" class="grid-logo">
    <img src="assets/main2.jpeg" alt="Logo" class="grid-logo">
    <img src="assets/main3.jpeg" alt="Logo" class="grid-logo">
    <img src="assets/main4.jpeg" alt="Logo" class="grid-logo">
  </div>
  <app-crash-countdown></app-crash-countdown>

  <div class="image-drone">
    <img src="assets/drone_peinture.png" alt="Logo" class="grid-logo">
    <button class="text-roll">
      <span class="text-container">En apprendre plus</span>
      <span class="text-clone">En apprendre plus</span>
    </button>
  </div>
</div>
