<div class="zenith-header">
  <div class="header-text">
    <h1>Zénith</h1>
    <h2>Société technique de Polytechnique Montréal</h2>
    <p>Fondée en 2024</p>
  </div>

  <div class="logo-grid">
    <img src="/assets/logo.png" alt="Logo" class="grid-logo">
    <img src="/assets/logo.png" alt="Logo" class="grid-logo">
    <img src="/assets/logo.png" alt="Logo" class="grid-logo">
    <img src="/assets/logo.png" alt="Logo" class="grid-logo">
  </div>
  <app-crash-countdown></app-crash-countdown>
</div>
