.zenith-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.header-text {
  text-align: center;
  margin-bottom: 2rem;
}

.header-text h1 {
  font-size: 3rem;
  color: #003366;
  margin-bottom: 0.5rem;
}

.header-text h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.header-text p {
  font-size: 1.2rem;
  color: #777;
  font-style: italic;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 1200rem;
  max-height: 800rem;
  margin: 0 auto;
}

.grid-logo {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/*.image-drone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  button {
    background-color: #fed403;
    font-size: x-large;
    padding: 15px 20px;
    border-radius: 50px;
    color: #091c2a;
  }

  button:hover {
    background-color: #ffae00;
  }
}*/
.image-drone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image-drone button.text-roll {
  background-color: #fed403;
  font-size: x-large;
  padding: 15px 20px;
  border-radius: 50px;
  color: #091c2a;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: grid;
  width: fit-content;
}

/* Container pour le texte original */
.image-drone button.text-roll .text-container {
  display: flex;
  align-items: center;
  height: 100%;
  grid-area: 1 / 1;
  transition: transform .3s cubic-bezier(.76, 0, .24, 1);
  z-index: 2;
}

/* Container pour le texte clone */
.image-drone button.text-roll .text-clone {
  display: flex;
  align-items: center;
  height: 100%;
  grid-area: 1 / 1;
  color: white;
  transform: translateY(250%);
  transition: transform .3s cubic-bezier(.76, 0, .24, 1);
  z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
  .image-drone button.text-roll .text-container {
    transition-delay: .1s;
  }

  .image-drone button.text-roll .text-clone {
    transition-delay: .1s;
  }
}

/* Fond violet qui monte */
.image-drone button.text-roll::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a791e4;
  transition: bottom .4s cubic-bezier(.76, 0, .24, 1);
  border-radius: 50px;
  z-index: 1;
}

/* Au survol */
.image-drone button.text-roll:hover::before {
  bottom: 0;
}

.image-drone button.text-roll:hover .text-container {
  transform: translateY(-250%);
}

.image-drone button.text-roll:hover .text-clone {
  transform: translateY(0%);
}

@media (max-width: 768px) {
  .logo-grid {
    grid-template-columns: 1fr;
    max-width: 400px;
  }

  .grid-logo {
    height: 150px;
  }
}
